@CHARSET "ISO-8859-1";


#errorfn {
	font-size: 11px;
	color: white;
	width: 250px;
}

#errorln {
	font-size: 11px;
	color: white;
	width: 250px;
}



#errorem, #errormon, #errorpassword, #errorconfpassword, #errorp,
	#errore {
	font-size: 11px;
	color: white;
	width: 500px;
}

#errorforget {
	font-size: 11px;
	color: white;
	width: 500px;
}

