@CHARSET "ISO-8859-1";

#date{
	border-style:solid;
	border-width:1px;
	margin-left:200px;
	margin-top: 100px;
	margin-right: 300px; 
	padding-left:50px;
	padding-top: 50px; 
}
#datebutton{
    margin-left:250px; 

}